<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("4a7ef3de-b954-45c8-a82c-5ab375aec9d0");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
